<header>
    
    <H1>Candy shop</H1>

    <div style="background-image:url('/assets/img/sblpfi7086.jpg'); width:100%; height: 150px; background-position:center;">&nbsp;</div>
            
    <menu class="navagitionsbar">
        <p>
            <a routerLink="/homepage" routerLinkActive="active"> Hjem | </a>
            <a routerLink="/kategori" routerLinkActive="active"> kategori | </a>
            <a routerLink="/bolcher" routerLinkActive="active"> bolcher |</a>
            <a routerLink="/kvug" routerLinkActive="active"> kurv |</a>
            <a routerLink="/adminkategori" routerLinkActive="active"> adminkategori</a>
        </p>
        
        
    </menu>
    
</header>
   
         
<router-outlet></router-outlet>

     
     
     
     
     

  